<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=7" http-equiv="X-UA-Compatible">
<link type="text/css" rel="stylesheet" href="/dist/css/reset.css">

<!--[if lt IE 9]>
<link type="text/css" rel="stylesheet" href="/dist/css/ie8.css">
<![endif]-->
<!--[if lte IE 6]><script type="text/javascript">window.ie6= true<\/script><![endif]-->
 

</head>
<body>

<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="javascript:;" onClick="javascript :history.back(-1);"
            class="add fb"><em>返回</em> </a>
    </div>
</div>
    <div class="common-form">
        <form style="width:90%" id="myform" method="post" action="member/m_recordSave.do"
            name="myform"  > 
            <div class="table-list">
                <input type="hidden" name="id" value="f36e7acc4bff3af9014c02b887210112">
                <table width="90%" align="center" >
                    <thead>
                        <tr>
                            <th height="30" bgcolor="#EFEFEF" align="center" colspan="4">
                                <b class="f16"><a title="查看会员资料"
                                        href="member_detail.asp?id=1407">807424</a></b>
                                         <input type="file" name="file1" id="file1"
                onchange="change('pic1','file1')">
<img src="images/px.gif" id="pic1">
                            </th>
                        </tr> 
                    </thead>
                    <tbody> 
                    <tr>
                        <td width="120" height="30" align="right">
                            个人近照：
                        </td>
                        <td width="640" height="30" colspan="6">
                            &nbsp;<img id="headImgView" src="res/pg/img/not/not_member.jpg" width="100px"/>
                            <input type="button" value="选择头像" onclick="$('input#upload').click()" />
                            <div style="display:block">
                            <input type="file" id="upload" name="upload" capture="camera" onchange="change('headImgView','upload')" accept="image/*" style="width:0px;height: 0px;" />
                       		</div>
                        </td>
                    </tr>
 
                    </tbody>
                </table> 
            </div> 

            <div class="bk15"></div>

        </form>
    </div>
</div>

<script charset="utf-8" src="/dist/js/jquery.min.js"></script>
<script charset="utf-8" src="/dist/js/editor.js"></script>

<!--　日历引入　-->
<script src="/dist/calendar/calendar.js" type="text/javascript"></script>
<link href="/dist/calendar/calendar.min.css" type="text/css" rel="stylesheet">

<script type="text/javascript">
$(function(){
        caltime("startTime") ; 
        caltime("endTime") ; 
});
</script>

</body>
</html>

