<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=7" http-equiv="X-UA-Compatible">
<base href="http://172.17.20.151:8081/" />
<link type="text/css" rel="stylesheet" href="/dist/css/reset.css">
<link type="text/css" rel="stylesheet" href="/dist/css/zh-cn-system.css">
<link type="text/css" rel="stylesheet" href="/dist/css/table_form.css">
<style type="text/css">
html {
    _overflow-y: scroll
}
</style>

<!--　编辑器框架引入 -->
<script charset="utf-8" src="/dist/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="/dist/js/jquery.min.js"></script>
<script type="text/javascript">
var editor  ; 
KindEditor.ready(function(K) {
        editor  = K.create('textarea[name="content"]', { 
        cssPath : 'dist/kindeditor/plugins/code/prettify.css' ,
        uploadJson : 'KindEditorServlet.servlet',
        allowFileManager : false,
        afterCreate : function() {
        var self = this;
        K.ctrl(document, 13, function() {
            self.sync(); 
        });
        K.ctrl(self.edit.doc, 13, function() {
            self.sync(); 
        });
    }
});
        prettyPrint();
});
</script>

<!--　日历引入　-->
<script src="dist/calendar/calendar.js" type="text/javascript"></script>
<script src="dist/calendar/zh.js" type="text/javascript"></script>
<link href="dist/calendar/jscal2.css" type="text/css" rel="stylesheet">
<link href="dist/calendar/border-radius.css" type="text/css" rel="stylesheet">
<link href="dist/calendar/win2k.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="javascript:;" onClick="javascript :history.back(-1);" class="add fb"><em>返回</em>
        </a>
    </div>
</div>
<div class="pad-10">
    <div class="common-form">
        <form id="myform" method="post" action="job/j_save.do"
            name="myform">
            <fieldset>
                <legend>
                    基本信息系统管理员 
                </legend>
                <table width="100%" class="table_form">
                    <tbody>
                    <tr>
                        <td>
                            所属分站
                        </td>
                        <td>

                            <select name="webId" style="width: 150px">

                                <option value="f190c82c40dc413c0140dc4de2760003">
                                南宁
                                </option>

                                <option value="f36e7acc4470e99801447409a5e2046b">
                                贵阳
                                </option>

                                <option value="bac054714761972001476272496b0005">
                                武汉
                                </option>

                                <option value="f36e7acc4470e9980144740a7b810475">
                                长沙
                                </option>

                                <option value="f36e7acc4470e99801447409d752046f">
                                昆明
                                </option>

                                <option value="f36e7acc4470e998014474096a9e0467">
                                深圳
                                </option>

                                <option value="f190c82c40dc5f8c0140dc641b940001">
                                桂林
                                </option>

                                <option value="f36e7acc4470e9980144740863dc0458">
                                柳州
                                </option>

                                <option value="f190c82c40dc3a2c0140dc3ae2d10001">
                                钦州
                                </option>

                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            招聘分类
                        </td>
                        <td>
                            <input type="checkbox" checked="checked" name="classesType" value="f190ca1b417bda8f01417bdb8fa60002"  >  
                            兼职工作 &nbsp;&nbsp;&nbsp;	
                            <input type="checkbox" name="classesType" value="f190ca1b417bda8f01417bdbe68e0003"  >  
                            寒暑假工 &nbsp;&nbsp;&nbsp;
                            <input type="checkbox" name="classesType" value="f190ca1b417bda8f01417bdb5ca80001"  >  
                            实习全职 &nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            职位类型
                        </td>
                        <td>
                            <select name="jobTypeId" style="width: 150px">
                                <option value="f36e7acc4aa1b1c1014aa4a0ec300206">
                                平时兼职
                                </option>
                                <option value="f36e7acc4aa1b1c1014aa4a0d3c60202">
                                周末兼职
                                </option>
                                <option value="f36e7acc4aa1b1c1014aa4a09b8f01fe">
                                节日兼职
                                </option>
                                <option value="f36e7acc4aa1b1c1014aa4a0041201fa">
                                寒暑假工
                                </option>
                                <option value="f36e7acc4aa1b1c1014aa49fbe2001f6">
                                实习工作
                                </option>
                                <option value="f36e7acc4aa1b1c1014aa49f8eb301f2">
                                全职工作
                                </option>
                                <option value="f36e7acc4aa1b1c1014aa49e969701e6">
                                其他职位
                                </option>
                                <option value="f36e7acc491ecd7f014921b07b27001c">
                                车间生产
                                </option>
                                <option value="f36e7acc4470e9980144735a147202ea">
                                储备人员
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            职位名称
                        </td>
                        <td>
                            <input type="text" style="width: 300px;" class="input-text"
                            name="name">
                            <div id="usernameTip" class="onShow">
                                请输入职位名称
                            </div> 
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            编号 
                        </td>
                        <td> 
                            <input type="text" style="width: 80px;" class="input-text"
                            name="jobId">
                            <div id="usernameTip" class="onShow">
                                请输入工作编号 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            招聘人数
                        </td>
                        <td>
                            <input type="text" class="input-text" name="num">

                        </td>
                    </tr>

                    <tr>
                        <td width="80">
                            集合时间
                        </td>
                        <td>
                            <input type="text"   class="date input-text"
                            size="30"   id="gatherTime" name="gatherTime">
                            &nbsp;
                            <div id="usernameTip" class="onShow">
                                格式：2013-08-08 23:54:00(英文输入法)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            性别要求
                        </td>
                        <td>
                            <input type="radio" name="sex" value="1">
                            男 &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="sex" value="0">
                            女 &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="sex" value="-1" checked="checked">
                            不限
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            年龄要求
                        </td>
                        <td>
                            <input type="text" value="不限" style="width: 200px;" class="input-text"
                            name="age">
                            <div id="usernameTip" class="onShow">
                                格式：18岁以上
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            身高要求
                        </td>
                        <td>
                            <input type="text" value="不限" class="input-text"
                            name="height">
                            <div id="usernameTip" class="onShow">
                                格式：男160cm以上，女155以上  
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            健康证
                        </td>
                        <td>
                            <select name="health" style="width: 150px"> 
                                <option value="1">
                                需要
                                </option> 
                                <option  value="0" selected="selected">
                                不需要
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            工作时间
                        </td>
                        <td>
                            <input type="text" class="input-text"
                            name="jobTime">
                            <div id="usernameTip" class="onShow">
                                格式：2014-2-15 09:00-18:00  
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            工作地点
                        </td>
                        <td>
                            <input type="text" class="input-text"
                            name="jobAddress">
                            <div id="usernameTip" class="onShow">
                                这里具体说明工作的地点
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            薪资待遇
                        </td>
                        <td>
                            <input type="text" class="input-text"
                            name="money">
                            <div id="usernameTip" class="onShow">
                                格式：100元/天
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            预约时间
                        </td>
                        <td>
                            <input type="text"  class="date input-text"
                            size="30" id="appointmentTime" name="appointmentTime">

                            &nbsp;

                            <div id="usernameTip" class="onShow">
                                格式：2013-08-08 23:54:00(英文输入法)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            退订截止时间
                        </td>
                        <td>
                            <input type="text"  class="date input-text"
                            size="30" id="unsubscribeTime" name="unsubscribeTime">

                            &nbsp;

                            <div id="usernameTip" class="onShow">
                                格式：2013-08-08 23:54:00(英文输入法)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            结算方式
                        </td>
                        <td>
                            <input type="text" class="input-text"
                            name="moneyGetType">
                            <div id="usernameTip" class="onShow">
                                格式：商家现结 或 商家周结 或 商家月结
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            工作内容 
                        </td>
                        <td>
                            <textarea id="content" name="content" cols="100" rows="8"
                                style="width: 100%; height: 350px; visibility: hidden;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            面试地点
                        </td>
                        <td>
                            <input type="text"  class="input-text"
                            name="gatherAddress">
                            <div id="usernameTip" class="onShow">
                                请输入(面试)集合地点
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            面试时间
                        </td>
                        <td>

                            <input type="text" class="date input-text"
                            size="30" value="无需面试" id="startTime" name="startTime">

                            &nbsp;
                            <div id="usernameTip" class="onShow">
                                格式：2014-2-15 18:00（无面试时默认：无需面试）
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            截止日期
                        </td>
                        <td>
                            <input type="text"  class="date input-text"
                            size="30" id="endTime" name="endTime">

                            &nbsp;

                            <div id="usernameTip" class="onShow">
                                格式：2013-08-08 23:54:00(英文输入法)
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </fieldset>

            <div class="bk15"></div>
            <input type="submit" class="button" value="提交" id="dosubmit"
            name="dosubmit">
        </form>
    </div>
<script type="text/javascript">
Calendar.setup( {
weekNumbers : true,
inputField : "endTime",
trigger : "endTime",
dateFormat : "%Y-%m-%d %H:%M:%S",
showTime : true,
minuteStep : 1,
onSelect : function() {
this.hide();
}
});

Calendar.setup( {
weekNumbers : true,
inputField : "appointmentTime",
trigger : "appointmentTime",
dateFormat : "%Y-%m-%d %H:%M:%S",
showTime : true,
minuteStep : 1,
onSelect : function() {
this.hide();
}
});

Calendar.setup( {
weekNumbers : true,
inputField : "unsubscribeTime",
trigger : "unsubscribeTime",
dateFormat : "%Y-%m-%d %H:%M:%S",
showTime : true,
minuteStep : 1,
onSelect : function() {
this.hide();
}
});

Calendar.setup({
weekNumbers: true,
inputField : "startTime",
trigger    : "startTime",
dateFormat: "%Y-%m-%d %H:%M:%S",
showTime: true,
minuteStep: 1,
onSelect   : function() {this.hide();}
});
Calendar.setup({
weekNumbers: true,
inputField : "gatherTime",
trigger    : "gatherTime",
dateFormat: "%Y-%m-%d %H:%M:%S",
showTime: true,
minuteStep: 1,
onSelect   : function() {this.hide();}
});

    </script>

</div>
</body>
</html>

