<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=7" http-equiv="X-UA-Compatible">
<title>招聘信息管理--JWEB系统</title>

<link type="text/css" rel="stylesheet" href="dist/css/reset.css">

<!-- jqgrid 样式引入　-->
<link href="dist/jqGrid/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<link href="dist/jqGrid/css/jquery-ui.custom.css" rel="stylesheet" type="text/css" />
<link href="dist/jqGrid/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a
            href="job/j_add.do"
            class="add fb"><em>添加信息 </em>
        </a>  
    </div>
</div>
<div class="pad-lr-10">
    <form method="get" action="job/j_searchJob.do" name="searchform"> 
        <table width="100%" cellspacing="0"  style="font-size:12px" class="search-form">
            <tbody>
            <tr>
                <td>
                    <div class="explain-col"> 
                        搜索关键字： 
                        <input type="text" class="input-text" value="" name="keyword">
                        选择类别 :
                        <select name="type"> 
                            <option value=title selected="selected">
                            标题 
                            </option> 
                            <option value="jobNum">
                            编号
                            </option>  
                        </select> 
                        <input type="submit" value="搜索" class="button" name="search">
                    </div>
                </td> 

            </tr>
            </tbody>
        </table> 
    </form>
    <table id="list"></table>
    <div id="no"></div>
	<div id="pager"></div>
</div>

<!-- jqgrid js引入　-->
<script type="text/javascript" src="dist/jqGrid/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="dist/jqGrid/js/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="dist/jqGrid/js/i18n/grid.locale-cn.js"></script>

<!-- 数据连接 -->
    <script type="text/javascript">
$(function(){
        $("#list")
        .jqGrid(
            {
url : './test_data.json',
datatype : "json",
colNames : [ '店铺名称', '联系人', '服务电话', '营业时间','人均消费', '是否预订', '基础配置', '地址' ],
colModel : [ {
sortable : false,
name : 'shopName',
index : 'shopName',
width : 250,
align : 'left'
}, {
sortable : false,
name : 'linkMan',
index : 'linkMan',
width : 100,
align : 'left'
}, {
sortable : false,
name : 'phone',
index : 'phone',
width : 150,
align : 'left'
}, {
sortable : false,
           name : 'openTime',
           index : 'openTime',
           width : 150,
           align : 'left'
}, {
sortable : false,
         name : 'cost',
         index : 'cost',
         width : 100,
         align : 'right'
}, {
sortable : false,
         name : 'isBook',
         index : 'isBook',
         width : 100,
         align : 'left'
}, {
sortable : false,
         name : 'had',
         index : 'had',
         width : 150,
         align : 'left'
}, {
sortable : false,
         name : 'address',
         index : 'address',
         width : 250,
         align : 'left'
} ],
jsonReader : {
root : "dataGridModel.content",
       page : "dataGridModel.page",
       total : "dataGridModel.total",
       records : "dataGridModel.records",
       repeatitems : false
             },
rowNum : 5,
       rowList : [ 5, 10, 15, 20, 30, 50 ],
       pager : 'pager',
       autowidth : true,
       height : 'auto',
       gridview : true,
       viewrecords : true,
       multiselectWidth : 25,
       multiselect : true,
       loadComplete : function(data) {
           if (data.dataGridModel.records === 0) {
               $("#update_btn").hide();
               $("#remove_btn").hide();
               $("#queryByName").hide();
           } else {
               $("#update_btn").show();
               $("#remove_btn").show();
               $("#queryByName").show();
           }
       }
});
}) ; 
    </script>

</body>
</html>

