<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=7" http-equiv="X-UA-Compatible">
<title>招聘信息管理--JWEB系统</title>
<link type="text/css" rel="stylesheet" href="/dist/css/reset.css">
<link type="text/css" rel="stylesheet" href="/dist/css/zh-cn-system.css">
<link type="text/css" rel="stylesheet" href="/dist/css/table_form.css">
<style type="text/css">
html {
    _overflow-y: scroll
}
</style>
</head>
<body>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a
            href="job/j_add.do"
            class="add fb"><em>添加信息 </em>
        </a>  
    </div>
</div>
<div class="pad-lr-10">
    <form method="get" action="job/j_searchJob.do" name="searchform"> 
        <table width="100%" cellspacing="0"  style="font-size:12px" class="search-form">
            <tbody>
            <tr>
                <td>
                    <div class="explain-col"> 
                        搜索关键字： 
                        <input type="text" class="input-text" value="" name="keyword">
                        选择类别 :
                        <select name="type"> 
                            <option value=title selected="selected">
                            标题 
                            </option> 
                            <option value="jobNum">
                            编号
                            </option>  
                        </select> 
                        <input type="submit" value="搜索" class="button" name="search">
                    </div>
                </td> 

            </tr>
            </tbody>
        </table> 
    </form>
    <form method="post"
        action="job/j_deleteGroup.do" >
        <div class="table-list">
            <script type="text/javascript">
function newsEdit(id)
{    
    window.open('job/j_choose.do?id='+id  ,'','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=950,height=570,left=80,top=40');
}
function helpGetJob(id)
{
    window.open('job/j_enterHelpGetJob.do?id='+id  ,'','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=230,left=80,top=40');
}

            </script>
            <table width="100%" cellspacing="0" style="font-size: 12px">
                <thead>
                    <tr>
                        <th width="20" align="left">

                        </th>
                        <th align="left"></th>
                        <th align="left">
                            编号
                        </th>
                        <th align="left">
                            状态
                        </th>
                        <th align="left">
                            职位名称
                        </th>
                        <th align="left">
                            招聘人数
                        </th>
                        <th align="left">
                            报名人数
                        </th>
                        <th align="left">
                            报名管理
                        </th>
                        <th align="left">
                            操作
                        </th>
                        <th align="left">
                            发布人
                        </th>
                        <th align="left">
                            发布时间
                        </th>
                        <th align="left">
                            结束时间
                        </th>
                    </tr>
                </thead>
                <tbody>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bff3af9014c0287ae7e00ce ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03001010
                    </td>
                    <td align="left">
                        <font style="color: red">【待聘】</font>
                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bff3af9014c0287ae7e00ce" target="_blank">
                            <span style="color: red">p-发单员</span>
                        </a>
                    </td>
                    <td align="left">
                        3
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bff3af9014c0287ae7e00ce')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bff3af9014c0287ae7e00ce')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bff3af9014c0287ae7e00ce">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bff3af9014c0287ae7e00ce">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-10 15:13
                    </td>
                    <td align="left">
                        03-11 15:30
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bff3af9014c019c7d720051 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03002310
                    </td>
                    <td align="left">
                        <font style="color: red">【待聘】</font>
                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bff3af9014c019c7d720051" target="_blank">
                            <span style="color: red">z-服务员</span>
                        </a>
                    </td>
                    <td align="left">
                        5
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bff3af9014c019c7d720051')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bff3af9014c019c7d720051')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bff3af9014c019c7d720051">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bff3af9014c019c7d720051">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-10 10:56
                    </td>
                    <td align="left">
                        03-16 10:48
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bff3af9014c019acb0f004a ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03002210
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bff3af9014c019acb0f004a" target="_blank">
                            <span style="color: red">p-派单员</span>
                        </a>
                    </td>
                    <td align="left">
                        3
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bff3af9014c019acb0f004a')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bff3af9014c019acb0f004a')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bff3af9014c019acb0f004a">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bff3af9014c019acb0f004a">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-10 10:54
                    </td>
                    <td align="left">
                        03-13 10:46
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bfa14b0014bfde30734016c ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03002009
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bfa14b0014bfde30734016c" target="_blank">
                            <span style="color: red">p-杨小贤</span>
                        </a>
                    </td>
                    <td align="left">
                        10
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bfa14b0014bfde30734016c')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bfa14b0014bfde30734016c')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bfa14b0014bfde30734016c">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bfa14b0014bfde30734016c">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-09 17:34
                    </td>
                    <td align="left">
                        03-12 17:19
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bfa14b0014bfd6fe2c30113 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03001609
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bfa14b0014bfd6fe2c30113" target="_blank">
                            <span style="color: red">p-服务员</span>
                        </a>
                    </td>
                    <td align="left">
                        3
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bfa14b0014bfd6fe2c30113')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bfa14b0014bfd6fe2c30113')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bfa14b0014bfd6fe2c30113">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bfa14b0014bfd6fe2c30113">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-09 15:29
                    </td>
                    <td align="left">
                        03-12 15:20
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bfa14b0014bfca5e03a004b ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03000909
                    </td>
                    <td align="left">


                        【结束】



                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bfa14b0014bfca5e03a004b" target="_blank">
                            <span style="color: red">p-发单员</span>
                        </a>
                    </td>
                    <td align="left">
                        2
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bfa14b0014bfca5e03a004b')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bfa14b0014bfca5e03a004b')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bfa14b0014bfca5e03a004b">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bfa14b0014bfca5e03a004b">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-09 11:48
                    </td>
                    <td align="left">
                        03-09 17:30
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bfa14b0014bfc9c5c8e0035 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03000809
                    </td>
                    <td align="left">


                        【结束】



                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bfa14b0014bfc9c5c8e0035" target="_blank">
                            <span style="color: red">p-打杂</span>
                        </a>
                    </td>
                    <td align="left">
                        1
                    </td>
                    <td align="left">
                        1
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bfa14b0014bfc9c5c8e0035')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bfa14b0014bfc9c5c8e0035')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bfa14b0014bfc9c5c8e0035">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bfa14b0014bfc9c5c8e0035">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-09 11:38
                    </td>
                    <td align="left">
                        03-09 17:31
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4bfa14b0014bfc871cbd001e ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03000709
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4bfa14b0014bfc871cbd001e" target="_blank">
                            <span style="color: red">p-公司前台接待</span>
                        </a>
                    </td>
                    <td align="left">
                        1
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4bfa14b0014bfc871cbd001e')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4bfa14b0014bfc871cbd001e')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4bfa14b0014bfc871cbd001e">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4bfa14b0014bfc871cbd001e">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-09 11:14
                    </td>
                    <td align="left">
                        03-13 17:20
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4befc829014bf3438934021c ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03000607
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4befc829014bf3438934021c" target="_blank">
                            <span style="color: red">p-促销员</span>
                        </a>
                    </td>
                    <td align="left">
                        8
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4befc829014bf3438934021c')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4befc829014bf3438934021c')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4befc829014bf3438934021c">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4befc829014bf3438934021c">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-07 16:04
                    </td>
                    <td align="left">
                        04-02 20:00
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4befc829014bf32fcdb001b2 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03000507
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4befc829014bf32fcdb001b2" target="_blank">
                            <span style="color: red">q-服务员</span>
                        </a>
                    </td>
                    <td align="left">
                        10
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4befc829014bf32fcdb001b2')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4befc829014bf32fcdb001b2')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4befc829014bf32fcdb001b2">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4befc829014bf32fcdb001b2">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-07 15:42
                    </td>
                    <td align="left">
                        03-14 16:30
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4befc829014bf3297423017f ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        03000407
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4befc829014bf3297423017f" target="_blank">
                            <span style="color: red">p-作业辅导</span>
                        </a>
                    </td>
                    <td align="left">
                        4
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4befc829014bf3297423017f')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4befc829014bf3297423017f')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4befc829014bf3297423017f">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4befc829014bf3297423017f">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-07 15:35
                    </td>
                    <td align="left">
                        03-14 20:30
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4befc829014bf32626dd0166 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        030015
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4befc829014bf32626dd0166" target="_blank">
                            <span style="color: red">p-冰箱促销员</span>
                        </a>
                    </td>
                    <td align="left">
                        20
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4befc829014bf32626dd0166')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4befc829014bf32626dd0166')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4befc829014bf32626dd0166">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4befc829014bf32626dd0166">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-07 15:32
                    </td>
                    <td align="left">
                        03-12 15:25
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4befc829014bf30c3d8000f7 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        030014
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4befc829014bf30c3d8000f7" target="_blank">
                            <span style="color: red">p-服务员</span>
                        </a>
                    </td>
                    <td align="left">
                        2
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4befc829014bf30c3d8000f7')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4befc829014bf30c3d8000f7')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4befc829014bf30c3d8000f7">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4befc829014bf30c3d8000f7">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-07 15:04
                    </td>
                    <td align="left">
                        03-11 14:56
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4befc829014bf213feb80040 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        030013
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4befc829014bf213feb80040" target="_blank">
                            <span style="color: red">p-兼职服务员</span>
                        </a>
                    </td>
                    <td align="left">
                        4
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4befc829014bf213feb80040')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4befc829014bf213feb80040')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4befc829014bf213feb80040">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4befc829014bf213feb80040">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-07 10:32
                    </td>
                    <td align="left">
                        03-11 10:23
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <input type="checkbox" name="ids" value="f36e7acc4befc829014bf20f87f50034 ">
                    </td>
                    <td align="left"></td>
                    <td align="left">
                        030011
                    </td>
                    <td align="left">



                        <font style="color: red">【待聘】</font>


                    </td>
                    <td align="left">
                        [南宁]&nbsp;
                        <a href="detail.do?f36e7acc4befc829014bf20f87f50034" target="_blank">
                            <span style="color: red">p-女装导购 </span>
                        </a>
                    </td>
                    <td align="left">
                        1
                    </td>
                    <td align="left">
                        0
                    </td>
                    <td align="left">
                        <a style="cursor: pointer" onclick="helpGetJob('f36e7acc4befc829014bf20f87f50034')">[帮报名]</a>
                        |
                        <a style="cursor: pointer" onclick="newsEdit('f36e7acc4befc829014bf20f87f50034')">[已报名]</a>
                    </td>
                    <td align="left">
                        <a href="job/j_update.do?id=f36e7acc4befc829014bf20f87f50034">[修改]</a> |
                        <a onClick="return confirm('您确定要删除吗？')"
                            href="job/j_delete.do?id=f36e7acc4befc829014bf20f87f50034">[删除]</a>
                    </td>
                    <td align="left">
                        100
                    </td>
                    <td align="left">
                        03-07 10:27
                    </td>
                    <td align="left">
                        03-11 10:19
                    </td>
                </tr>
                </tbody>
            </table>

            <div id="pages">

                <script type="text/javascript">
<!--
function zt_table_ajax_page(path)
{  
    $.get(path,function(data,status){ 
            $('.tab_content').html(data) ; 
            });
}  
//-->
                </script>
                <style>
<!-- 
.active 
{
    float: left;
    list-style: none outside none;
    margin-right: 5px;
    min-width: 20px;
    cursor: pointer;
}
-->
                </style>
                <center>
                    <div class="pagination">
                        <ul style="height :30px;">
                            <li class="active">
                            <a href="" >首页</a>
                            </li>
                            <li class="active">
                            <a href="job/j_manager.do?pager.offset=0" ><font color="red">1</font></a>
                            </li>
                            <li class="active">
                            <a href="job/j_manager.do?pager.offset=15" >2</a>
                            </li>
                            <li class="active">
                            <a href="job/j_manager.do?pager.offset=30" >3</a>
                            </li>
                            <li class="active">
                            <a href="job/j_manager.do?pager.offset=45" >4</a>
                            </li>
                            <li class="active">
                            <a href="job/j_manager.do?pager.offset=60" >5</a>
                            </li>
                            <li class="active"> 
                            <a href="job/j_manager.do?pager.offset=15" >下一页</a>
                            </li>
                            <li class="active">
                            <a href="job/j_manager.do?pager.offset=975" >尾页</a>
                            </li>
                        </ul>
                    </div>
                </center>
            </div>
            <div class="btn">
                <input type="submit" onClick="return confirm('您确定要删除吗？')"
                value="删除" name="dosubmit" class="button">
            </div>
            <div id="pages"></div>
        </div>
        <input type="hidden" name="pc_hash" value="cn4HK9">
    </form>
</div>
</body>
</html>

