<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=7" http-equiv="X-UA-Compatible">
<title>提示信息</title>
<link href="dist/css/tip.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div style="text-align:center" class="showMsg">
    <h5>提示信息</h5>
    <div style="display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;max-width:330px" class="content guery">操作成功 ... </div>
    <div class="bottom">
        <a href="javascript:history.go(-1);">[点这里返回上一页]</a>
    </div>
</div> 
</body>
</html>
